# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.Makefile
build-Novel_the_game-Desktop_Qt_5_12_1_MSVC2017_64bit-Debug/.qmake.stash
*.ttf
*.ilk
*.pdb
build-Novel_the_game-Desktop_Qt_5_12_1_MSVC2017_64bit-Debug/Makefile
*.Debug
*.Release
*.db
*.png
*.jpg
*.user
*.user